{% extends "reg_base.html" %}

{% block register %}

<div class="block">
    <div class="container" >
        <h3 style="text-align: center;">註冊會員</h3>
        
        <form method="POST" class="input_form">
            {% csrf_token %}
                <label for="exampleInputUserName">帳號： </label>
                <input type="text" class="form-control" id="exampleInputUserName" aria-describedby="emailHelp"
                    name="username" placeholder="請輸入帳號">

                <label for="exampleInputEmail1">電子信箱： </label>
                <input type="text" class="form-control" id="exampleInputEmail1"
                    name="email" placeholder="請輸入E-mail">

                <label for="exampleInputBOD">生日： </label>
                <input type="date" class="form-control" id="exampleInputBOD"
                    name="birth" placeholder="請選擇生日">

                <label for="exampleInputPassword1">密碼： </label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password1"
                    placeholder="請輸入密碼">

                <label for="exampleInputPassword1">密碼確認： </label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password2"
                    placeholder="請再一次輸入密碼">

                <button type="submit" class="btn btn-primary">註冊</button>
        </form>
    </div>

    {% for field in form %}
        {{ field.errors }}
    {% endfor %}
</div>

{% endblock %}