{% extends "reg_base.html" %}

{% block login %}
<div class="block">
    <div class="form-group">
        <h3>會員登入</h3>
        <form method="post">
            {% csrf_token %}
                <label for="exampleInputUserName">帳號： </label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp"
                    name="username" />
                <label for="exampleInputPassword1">密碼： </label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password"/>
            <button type="submit" class="btn btn-primary">登入</button>
        </form>
    </div>
</div>
{% endblock %}