.block {
    margin: 10%;
}

.container {
    border: 1px;
    border-style: solid;
    border-color: gray;
    padding-top: 40px;
    width:550px;
}

.input_form {
    padding-left: 90px;
    padding-bottom: 50px;
}

label {
    margin-top: 20px;
}

.form-control {
    border: none;
    border: 1px solid;
    border-radius: 5px;
    width: 350px;
    padding-left: 15px;
}

.btn {
    margin-top:30px;
    border-radius: 5px;
    height: 45px;
    width:350px;
    font-size: 15px;
    text-align: center;
}