html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    /* display: flex; */
    flex-direction: column;
}

.container {
    display: inline;
}

.wrapper {
    flex-grow: 1;
}

.footer {
    background-color: #db7329ed;
}

.navbar {
    background-color: #db7329ed;
    height: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: brown;
}

#buttons {
    padding-top: 50px;
    text-align: center;
}

.search {
    display: inline-block;
}

.search-btn {
    background-color: #db7329ed;
    border: 0;
    color: white;
}

.head-link {
    color: black;
}

.head-link:hover {
    color: #db7329ed;
}

#head_row {
    margin: 3% 1%;
}

 .list-group-item {
    background-color: white;
    border: 1px solid gray;
}
  
 .list-group-item:hover {
    background-color: rgb(193, 193, 193);
}